@media (min-width: 811px) {
    .container{
        width:810px;
    }
}

.todo--links{
    text-align: right;
}

.todo-name{
    width: 80%;
    display:inline-block;
    float: left;
}
.todo-submit{
    width: 19%;
    display:inline-block;
    margin-top: 25px;
    float: left;
}
.todo-submit button{
    width: 100%;
}

.todo-form{
    margin-bottom: 40px;
    overflow: auto;
}

.red{
    color: #D9534F;
}

.green{
    color: #59CA59;
}

.error-message{
    padding: 15px;
}