{% extends 'layout.html.twig' %}

{% block title %}About | SilexTodo - AchillesKal{% endblock %}

{% block content %}
    <h1>About</h1>
    <div>
        This is a simple todo application made with <a target="_blank" href="http://silex.sensiolabs.org/">Silex</a> PHP for educational purposes by <a target="_blank" href="http://achilleskal.com">AchillesKal</a>.
    </div>
{% endblock %}